.search-form__search-field {
  border:none;
  background-color: #363636;
  padding: 10px 0 9px 16px ;
  font-size: 14px;
  line-height: 143%;
  font-weight: 400;
  color: #B0B0B0 ;
  width: 100%;
  border-radius: 3px;
  max-width: 296px;
}