.header__menu-button {
  padding: 0;
  background-color: #222222;
  border-style: none;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/side-menu.svg);
  background-size: contain;
  object-fit: cover;
  margin: 19px 0 28px 24.5px;
  cursor: pointer;

}
